<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title> 
    <link rel="stylesheet" href="style.css">

</head>
<body>
    
    <header>
        <div class="container">

        <div id="logo">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUVEOFjXa1INx1CB6hUXF--LiEnqimWs3TJDitFUbHWZGhPaErlg" width=150px alt="camera">
        </div>

        <div id="callToAction">
            <a href="mailto:info@rigacodingschool.lv?Subject=Sazina%20no%20majas%20lapas&body=Sveiki"> Sazinieties e-pastā</a> 
            <a href="tel:+37122222222">+371 2222 2222</a> 
        </div> 
        </div>

    </header>
    <aside></aside>
    <div id="body"></div>
    <footer> 
        <!-- <div class="container"> -->
        <div class="box-container">
            <div class="box box-1">1</div>
            <div class="box box-2">2</div>
            <div class="box box-3">3</div>
            <div class="box box-4">4</div>
        </div> 
        Kaut kas. 
        </div>
    </footer>

</body>
</html>